<%= form_for(user) do |f| %>
<table class="table">

  <tbody>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.surname %></td>
      <td><%= user.email %></td>
    </tr>
  </tbody>

</table>
<% end %>
