@import "bootstrap-sprockets";
@import "bootstrap";

/* basic */

body {
  padding-top: 35px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* typography */

h1 {
  font-size: 5em;
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  text-align: center;
  color: gray;
}

/* logo */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
}

/* footer */

footer {
  text-align: right;
  color: white;
  background-color: black;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 25px;
  @include box_sizing;
}

input {
  height: auto !important;
}
